[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gmnl"]
	path = gmnl
	url = https://github.com/mauricio1986/gmnl
	shallow = true
	registered = true
[submodule "Rchoice"]
	path = Rchoice
	url = https://github.com/mauricio1986/rchoice
	shallow = true
	registered = true
